
/* Google font import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");


* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: "Roboto", sans-serif;
   font-size: 16px;
}

#header {
    height:600px;
    background-image: url("../images/apple-pie.jpg");
    background-position: center center;
    background-repeat: no-repeat ;
    background-size: cover;
   
}
#header h1 {
    color: white;
    text-align: center;
    font-size: 80px;
    font-weight: 100px;
    padding: 230px 0 0 0;
}

main {
    padding: 4rem;
}

#intro {
  
}
#ingredients {

}

#ingredients li {
    font-size: 0.8rem;
    font-weight: ;
    list-style-type: "-";
}
#directions ol {

}


